<h2>{{ title }}</h2>

<div class="content">
	<h2>SORT BY:</h2>
	<div>
		<button ng-click="order('$.fullName')">NAME</button>	
		<button ng-click="order('-$.wins')">WINS</button>	
		<button ng-click="order('-$.points')">POINTS</button>
	</div>
	<a  ng-href="#/{{ team.$.teamID }}" class="team" ng-repeat="team in teamsWithStats | orderBy:predicate:reverse"> 
		<img ng-src="{{ getTeamLogoImgSrc(team.$.fullName) }}">
		<div class="team-name">{{ team.$.fullName }}</div>
		<br> 
		<div class="team-stats">W: {{ team.$.wins }} L: {{ team.$.losses }} OT: {{ team.$.overtime }} PTS: {{ team.$.points }}</div>
	</a>	
</div>