<h1>{{ teamName }}</h1>
<a ng-href="#/">Go Back To Teams List</a>
<div>{{ selectedTeam.name }}</div>
<h2>Goalies</h2>
<div class="goalies">
	<div class="player-card" ng-repeat="player in teamRoster.goalie">
	<my-player-info player="player" get-player-stats="getPlayerStats(playerID)"></my-player-info>
	</div>
</div>
<h2>Forwards</h2>
<div class="forewards">
	<div class="player-card" ng-repeat="player in teamRoster.forwards">
		<my-player-info player="player"></my-player-info>
	</div>
</div>
<h2>Defensemen</h2>
<div class="defensemen">
	<div class="player-card" ng-repeat="player in teamRoster.defensemen">
		<my-player-info player="player"></my-player-info>	
	</div>
</div>